.right-header {
    min-width: 50%;
    display: flex;
    align-items: center;
    // background-color: antiquewhite;
    align-items: center;
    img {
        padding-bottom: 13vh;
        margin-left: 2vw;
    }
}